<!DOCTYPE html>
<html>
<body>
    <!-- Add your EJS code here -->
    <% include ./partials/_header %>

    <h2>Loop</h2>
      <ul>
        <% for (var shortURL in urls) {  %>
        <li><%= shortURL %> - <%= urls[shortURL] %></li>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <button type="submit" name="button"> Delete </button>
        </form>
        <% }; %>

      </ul>




</body>
</html>
