<!DOCTYPE html>
<html>

<body>
  <% include ./partials/_header %>
    <h2>Here is the list of URLs:</h2>
    <ol>
      <li><label for="longURL">Change
           <% console.log("ejs log", longURL) %>
           <%= longURL %> to </label></li>
      <form method="POST" action="/urls/<%= shortURL %>/update">
        <input type="text" style="width: 300px" name="longURL" value="<%= longURL %>">
        <button type="submit" name="updateButton"> Update </button>
      </form>
      <br>
    </ol>

    <a href="/urls/new">Add a website to this list</a>

</body>

</html>
